.main-menu.menu-light .navigation > li.active > a {
    box-shadow: none !important;
}

.vertical-layout
    .header-navbar
    .navbar-container
    ul.navbar-nav
    li.dropdown
    .dropdown-menu {
    top: 47px !important;
    right: -14px;
}

.error {
    font-size: 11px;
    color: red;
    font-weight: bold;
    margin-top: 7px;
}

.update_pass_btn {
    min-width: 97px;
}

.create_form_details {
    margin-bottom: 20px;
}

.tooltip-element {
    position: relative;
    cursor: pointer;
    background-color: var(--bs-primary) !important;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    line-height: 16px;
    margin: 0 5px;
    text-align: left;
    font-size: 12px;
}

.main-menu.menu-light .navigation > li ul .active {
    box-shadow: none;
}

*[tooltip]:hover::after {
    background: var(--bs-primary) !important;
    border-radius: 5px 5px 5px 0;
    bottom: 23px;
    color: #fff;
    content: attr(tooltip);
    padding: 10px 5px;
    position: absolute;
    z-index: 98;
    left: 2px;
    width: 230px;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.5em;
}
*[tooltip]:hover::before {
    border-color: var(--bs-primary) transparent !important;
    border: solid;
    border-width: 6px 6px 0;
    bottom: 17px;
    content: "";
    left: 2px;
    position: absolute;
    z-index: 99;
}

.deleteModal .modal-header {
    background-color: #ff000024;
}

.shareFormModal .modal-header {
    background-color: #1a73e838;
}

label {
    margin-bottom: 3px;
}

.cities_n_areasbtns {
    margin: 0px 0px 10px 0px;
}

.cities_n_areasbtns:first-child {
    margin-right: 10px;
}

.cities_n_areasfoot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.selectedFormsCont {
    margin-top: 30px;
    margin-bottom: 10px;
}

.selectedForms,
.forms_of_product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.removeItemAdded {
    position: absolute;
    top: -7px;
    right: -9px;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemAdded,
.formPills {
    margin: 4px 7px;
    background: var(--bs-primary);
    height: 30px;
    display: flex;
    align-items: center;
    min-width: fit-content;
    flex-wrap: wrap;
    color: #fff;
    border-radius: 7px;
    position: relative;
    font-size: 12px;
    padding: 0px 10px;
}

.selectedForms .itemAdded{
    padding: 0px;
}

.formPills{
    cursor: pointer;
}

.identifiers {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: bold;
}

.comp_name {
    border-radius: 7px 0px 0px 6px;
    background: gold;
    color: #000;
}

.prod_name {
    background: limegreen;
}


@media (max-width: 768px) {
}

@media (max-width: 450px) {
    .cities_n_areasbtns {
        width: 100%;
    }

    .cities_n_areasfoot {
        justify-content: flex-start;
    }

    .cities_n_areasbtns:first-child {
        margin-right: 0px;
    }
}
