.report_ques {
    font-weight: bold;
    margin-bottom: 10px;
}

.report_ques_ans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filtersCont {
    display: flex;
    justify-content: flex-start;
}

.filterCont {
    width: 32%;
    margin-right: 15px;
    margin-bottom: 5px;
}

.report_ques_ans > div {
    padding-left: 0px;
}

.answer_cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

.answer_cont div:first-child {
    margin-right: 10px;
    text-transform: capitalize;
}

.ansResults {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .filterCont {
        width: 50%;
    }
}
